<h1> Scuffed Metal Archives Clone </h1>

<p>
  Welcome, things will be added here over time.
</p>

<hr>

<%= link_to "Submit a band", bands_new_path %> |
<%= link_to "Bands", bands_path %> |
<%= link_to "Submit an artist", artists_new_path %> |
<%= link_to "Artists", artists_path %> |
<%= link_to "Submit a genre", genres_new_path %> |
<%= link_to "Genres", genres_path %>
