<br>

<h3> Browse Bands - Alphabetically </h3>

<br>

<ul class="alpha_search_bar">
  <li> <a> <%= link_to "A", bands_list_path(:letter => "A") %> </a> </li>
  <li> <a> <%= link_to "B", bands_list_path(:letter => "B") %> </a> </li>
  <li> <a> <%= link_to "C", bands_list_path(:letter => "C") %> </a> </li>
  <li> <a> <%= link_to "D", bands_list_path(:letter => "D") %> </a> </li>
  <li> <a> <%= link_to "E", bands_list_path(:letter => "E") %> </a> </li>
  <li> <a> <%= link_to "F", bands_list_path(:letter => "F") %> </a> </li>
  <li> <a> <%= link_to "G", bands_list_path(:letter => "G") %> </a> </li>
  <li> <a> <%= link_to "H", bands_list_path(:letter => "H") %> </a> </li>
  <li> <a> <%= link_to "I", bands_list_path(:letter => "I") %> </a> </li>
  <li> <a> <%= link_to "J", bands_list_path(:letter => "J") %> </a> </li>
  <li> <a> <%= link_to "K", bands_list_path(:letter => "K") %> </a> </li>
  <li> <a> <%= link_to "L", bands_list_path(:letter => "L") %> </a> </li>
  <li> <a> <%= link_to "M", bands_list_path(:letter => "M") %> </a> </li>
  <li> <a> <%= link_to "N", bands_list_path(:letter => "N") %> </a> </li>
  <li> <a> <%= link_to "O", bands_list_path(:letter => "O") %> </a> </li>
  <li> <a> <%= link_to "P", bands_list_path(:letter => "P") %> </a> </li>
  <li> <a> <%= link_to "Q", bands_list_path(:letter => "Q") %> </a> </li>
  <li> <a> <%= link_to "R", bands_list_path(:letter => "R") %> </a> </li>
  <li> <a> <%= link_to "S", bands_list_path(:letter => "S") %> </a> </li>
  <li> <a> <%= link_to "T", bands_list_path(:letter => "T") %> </a> </li>
  <li> <a> <%= link_to "U", bands_list_path(:letter => "U") %> </a> </li>
  <li> <a> <%= link_to "V", bands_list_path(:letter => "V") %> </a> </li>
  <li> <a> <%= link_to "W", bands_list_path(:letter => "W") %> </a> </li>
  <li> <a> <%= link_to "X", bands_list_path(:letter => "X") %> </a> </li>
  <li> <a> <%= link_to "Y", bands_list_path(:letter => "Y") %> </a> </li>
  <li> <a> <%= link_to "Z", bands_list_path(:letter => "Z") %> </a> </li>
</ul>

<br>
