
<%= form_with scope: :article, local: true do |form| %>
    <p>
        <%= form.label :"Name:" %><br>
        <%= form.text_field :name %>
    </p>

    <p>
        <%= form.label :"Country:" %><br>
        <%= form.text_field :country %>
    </p>

    <p>
        <%= form.label :"Location:" %><br>
        <%= form.text_field :location %>
    </p>

    <p>
        <%= form.label :"Formation Date:" %><br>
        <%= form.date_field :formationDate %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>

<hr>

<%= link_to "Index", main_index_path %>