<p>
  <strong> Name: </strong>
  <%= @band.name %>
</p>
 
<p>
  <strong> Country: </strong>
  <%= @band.country %>
</p>

<p>
  <strong> Location: </strong>
  <%= @band.location %>
</p>

<p>
  <strong> Formation date: </strong>
  <%= @band.formation_date %>
</p>

<!-- "only show the `latest` band logo" --!>
<p>
  <%= if not @band.band_logos.last.blank?
        image_tag @band.band_logos.last 
      end %>
</p>

<!-- "only show the `latest` band picture" --!>
<p>
  <%= if not @band.band_pictures.last.blank?
        image_tag @band.band_pictures.last 
      end %>
</p>

<p>
  <strong> Weblink(s): </strong>
</p>

<table>

  <tr>
    <th> Title </th>
    <th> URL </th>
    <th> Ref </th>
    <th> Action(s) </th>
  </tr>

  <% @band.weblinks.each do |weblink| %>

    <tr>
      <td> <%= weblink.title %> </td>
      <td> <%= weblink.url %> </td>
      <td> <a href= <%= weblink.url %> > <%= weblink.title %> </a> </td> 
      <td> <%= link_to "Edit", edit_band_weblink_path(@band, weblink) %> </td> 
      <td> <%= link_to 'Delete', band_weblink_path(@band, weblink), method: :delete, data: { confirm: 'Are you sure you want to remove this record?' } %> </td>
    </tr>

  <% end %>
</table>

<p>
    <strong> Genre(s) </strong>
</p>

  <% @band.genres.each do |genre| %>

    <%= genre.name %> /

  <% end %>

<p>
  <strong> Artist(s) </strong>
</p>

<% @band.artists.each do |artist| %>
  <%= link_to artist.alias, artist_path(artist) %>
<% end %>

<hr>

<%= link_to "Back", bands_path %>
