<%= form_with model: @artist, local: true do |form| %>
   
    <% if @artist.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@artist.errors.count, "error") %> prohibited this artist from being saved:
            </h2>
        <ul>
            <% @artist.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        </div>
    <% end %>

    <h2> Artist </h2>

    <p>
        <%= form.label :alias %><br>
        <%= form.text_field :alias %>
    </p>

    <p>
        <%= form.label :real_name %><br>
        <%= form.text_field :real_name %>
    </p>

    <p>
        <%= form.label :age %><br>
        <%= form.number_field :age %>
    </p>

    <p>
        <%= form.label :place_of_origin %><br>
        <%= form.text_field :place_of_origin %>
    </p>

    <p>
        <%= form.label :gender %><br>
        <%= form.text_field :gender %>
    </p>

    <p>
        <%= form.label :info %><br>
        <%= form.text_area :info %>
    </p>

    <hr>

    <p>
      <%= form.submit %>
    </p>

<% end %>
