<h1> Artists </h1>

<table>
  <tr>
    <th> Alias </th>
    <th> Real name </th>
  </tr>

  <% @artists.each do |artist| %>
    <tr>
      <td> <%= artist.alias %> </td>
      <td> | <%= artist.real_name %> </td>
      <td> | <%= link_to 'Show', artist_path(artist) %> | </td>
      <td> | <%= link_to 'Edit', edit_artist_path(artist) %> | </td>
      <td> <%= link_to 'Delete', artist_path(artist), method: :delete, data: { confirm: 'Are you sure you want to remove this record?' } %> </td>
    </tr>
  <% end %>

</table>

<hr>

<%= link_to "Index", main_index_path %>
