<p>
  <strong> Alias: </strong>
  <%= @artist.alias %>
</p>
 
<p>
  <strong> Real name: </strong>
  <%= @artist.real_name %>
</p>

<p>
  <strong> Age: </strong>
  <%= @artist.age %>
</p>

<p>
  <strong> Place of origin: </strong>
  <%= @artist.place_of_origin %>
</p>

<p>
  <strong> Gender: </strong>
  <%= @artist.gender %>
</p>

<p>
  <strong> Info: </strong>
  <%= @artist.info %>
</p>

<hr>

<%= link_to "Back", artists_path %>
